@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --orange:#ED8114;
    --grey: rgb(36, 36, 36);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 100;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    border: 1px solid grey;
    height: 667px;
    width: 350px;
}

.header{
    height: 7.25%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
}

.calculator-mode,
.converter-mode{
    font-weight: 400;
}

.converter-mode{
    color: gray;
}

.header-close-icon,
.menu-icon{
    height: 70%;
}



.history{
    height: 21.75%;
    width: 100%;
    background-color: black;
}

.display{
    height: 11%;
    width: 100%;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
}

.current-input{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font-weight: 400;
    width: 100%;
    height: 60%;
    font-size: 2rem;
    align-items: center;
}

.answer-preview{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 40%;
    font-size: 1.5rem;
    font-weight: 400;
}

.buttons{
    height: 60%;
    width: 100%;
    background-color: black;
}

.button-grid-container{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    font-size: 1.5rem;
}

.del-btn-icon,
.resize-btn-icon{
    height: 60%;
}

.calc-input{
    border: none;
    background-color:var(--grey);
    color: var(--orange);

    width: 65px;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    font-weight: 400;
}

.num:hover{
    background-color: var(--grey);
    color: var(--orange);
    cursor: pointer;
}

.num:active{
    background-color: var(--orange);
    color: var(--grey);
}

.operator{
    font-weight: bold;
}

.operator:hover{
    background-color: var(--orange);
    color: var(--grey);
    cursor: pointer;
}

.operator:active{
    background-color: var(--grey);
    color: var(--orange);
}


.num{
    color: white;
}

#equals-btn{
    background-color: var(--orange);
    color: white;
}

#equals-btn:hover{
    background-color: rgba(128, 128, 128, 0.573);
    color: white;
    cursor: pointer;
}

#equals-btn:active{
    background-color: var(--orange);
    color: var(--grey);
}


#resize-btn:hover,
#del-btn:hover{
    background-color: rgba(128, 128, 128, 0.573);
    cursor: pointer;
}

#resize-btn:active,
#del-btn:active{
    background-color: var(--grey);
}

